<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interstellar Radio</title>
  </head>
  <body>
    <h1>Interstellar Radio</h1>
    <button onclick="connectViaWebusb()">Connect via WebUSB</button><br>
    <div id="data">Data from WebUSB: </div>
    <h2>Instructions and source code</h2>
    <div><a href="https://github.com/sethmlarson/interstellar-radio">GitHub</a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="/static/js/interstellar-webusb.js"></script>
  </body>
</html>
